<!-- navbar-v2 -->
<app-navbar-v2></app-navbar-v2>

<div class="top-picture"></div>

<div class="medium">

    <div class="model-1 col-12" id="model" >
        
        <div class="col-4" id="model-text">
            <h1>Description</h1>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, 
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast.</p>
            <h1>When</h1>
            <p>January 2017</p>
            <h1>Who</h1>
            <p>Jason Davis, John Anderson, Mirco Cattabriga, Aaron Jones, Amanda Johnson, Steve McQueen</p>
        </div>
        <!-- 
        <div class="col-8" id="model-pic" style="background-image: url('/assets/img/m2/1-(1728x1152).jpg')">
        </div>
        -->
        <div class="col-8" id="model-picture">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
        
    
    </div>

    <div class="model-1 col-12" id="model" >
        
        <!-- 
        <div class="col-8" id="model-pic" style="background-image: url('/assets/img/m2/1-(1728x1152).jpg')">
        </div>
        -->
        <div class="col-8" id="model-picture">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>

        <div class="col-4" id="model-text">
            <h1>Description</h1>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, 
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast.</p>
            <h1>When</h1>
            <p>January 2017</p>
            <h1>Who</h1>
            <p>Jason Davis, John Anderson, Mirco Cattabriga, Aaron Jones, Amanda Johnson, Steve McQueen</p>
        </div>
        
    
    </div>

</div>

<!-- 
<div class="row col-12">

    <div class="col-4"></div>
    <div class="col-8">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>

</div>
-->
