<!-- navbar-v2 -->
<app-navbar-v2></app-navbar-v2>

<div class="layer-1 col-12">

    <div class="layer-1-text col-4">

        <div class="container">

            <h1>Zevkine uygun tiny house modellerimiz</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Suspendisse varius enim in eros elementum tristique. Duis cursus, </p>

        </div>

    </div>

    <div class="layer-1-pic col-8">

        <div class="pic">

        </div>

    </div>

</div>

<div class="layer-2">

    <div class="container">
        
        <h1>AYRICALIĞI YAŞAYIN!</h1>
        <p id="layer-2-t1">MAX ROYAL KEMER RESORT</p>
        <p id="layer-2-t2">Kemer’in muhteşem doğasına uygun bir mimari, etkileyici bir konsept ve sınırsız hizmet… 
            Maxx Royal Kemer Resort, “Maxx Inclusive” konsepti ve büyüleyen doğasıyla misafirlerine sıra dışı bir dünyanın kapılarını aralıyor. 
            Şık ve seçkin bir tatil deneyimi yaşatan tesis; Kemer merkeze 6 km, Antalya şehir merkezine 50 km.</p>

        <i class="fa fa-chevron-down"></i>

    </div>

</div>

<div class="layer-3">

    <div class="layer-3-div col-12">

        <div class="text col-4">

            <h1>Roller Haus</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
            <a routerLink="/model1">
                <button class="btn-black" type="button" id="btn"> KEŞFET </button>
            </a>

        </div>
        <div class="picture col-8">

        </div>

    </div>

</div>

<div class="layer-4">

    <div class="layer-4-div col-12">
        
        <div class="picture col-8">

        </div>

        <div class="text col-4">

            <h1>Cabin Haus</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
            <a routerLink="/model2">
                <button class="btn-black" type="button" id="btn"> KEŞFET </button>
            </a>

        </div>

    </div>

</div>


<div class="layer-5">

    <div class="layer-5-div col-12">

        <div class="text col-4">

            <h1>Özel Tasarım</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
            <a routerLink="/model3">
                <button class="btn-black" type="button" id="btn"> KEŞFET </button>
            </a>

        </div>
        <div class="picture col-8">

        </div>

    </div>

</div>
