<div class="footer col-12">


        <div class="col-7" id="footer-left">
          
            
          <p id="contact">İLETİŞİM ADRESLERİMİZ:</p>
          <p>Tel: 123-456-7890 </p>
          <p>Email: info@mysite.com</p>
          <p>Fax: 123-456-7890 </p>
        </div>

        <div class="col-5" id="footer-right">    
          <p> BİZİ TAKİP EDİN:</p>
          <a href="https://www.instagram.com/p/B27FmC-pHe8LNCvpb4TipzCv5PmYKILtE-OeeY0/" class="social-icon"> <i class="fa fa-instagram fa-2x"></i></a> 
          <a href="https://tr-tr.facebook.com/efe.hekimoglu.37" class="social-icon"> <i class="fa fa-facebook fa-2x"></i></a>
          <a href="https://tr-tr.facebook.com/efe.hekimoglu.37" class="social-icon"> <i class="fa fa-linkedin fa-2x"></i></a>
        </div>

    </div>
  