<div class="navbar col-12">

        <div class="icon col-2 no-gutters">
            <a routerLink="">   
                <img src="/assets/img/ub-black.png">
            </a>
        </div>
        <div class="links col-8">
            <ul id="link-list">
                
                <li id="navbar-link">
                    <a routerLink="/modeller">TINY HOUSE</a>
                </li>

                <li class="nav-item dropdown" id="navbar-drop">
                    <a class="nav-link active dropdown-toggle" id="nav-link-drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MODELLER</a>
                    <div class="dropdown-menu" aria-labelledby="nav-link-drop">

                        <a class="dropdown-item" routerLink="/model1" >ROLLER HAUS</a>
                        <a class="dropdown-item" routerLink="/model2" >CABIN HAUS</a>
                        <a class="dropdown-item" routerLink="/model3" >ÖZEL DİZAYN</a>
                        
                    </div>
                </li>

                <li id="navbar-link">
                    <a routerLink="/model3">TASARIM</a>
                </li>
                
                <li id="navbar-link">
                    <a routerLink="">İLETİŞİM</a>
                </li>

            </ul>
        </div>
        <div class="col-2" id="button-container">

            <a routerLink="">
                <button class="btn-black" type="button" id="btn"> CONTACT US </button>
            </a>
            
        </div>

</div>
