// iphone 5-6-7-8-x & plus
.jumbotron {
    
    min-height:100vh;
    min-width: 100%;
    
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/assets/img/a1.jfif');
    background-size: cover;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .container {

        padding-top: 67vh;
        padding-left: 29vw;
        padding-right: 5vw !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        min-width: 90vw;
        
        >h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 5vw;
            color: white;
            margin-right: 0;
            text-shadow: 0 0 2px black,
        }

        >p {
            font-family: 'Montserrat', sans-serif;
            font-size: 2.2vw;
            color: white;
            text-shadow: 0 0 2px black,
        }
    
    }

}

#layer-1 {
    padding-top: 2vh;
    padding-bottom: 6vh;
}

#text-layer-1 {

    text-align: center;

    >h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: grey;
    }

    >p {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: grey;
    }

}

#layer-2 {

    height: 45vh;
    min-width: 75%;
    max-width: 75%;
    display: none;

    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('/assets/img/pic3.jpg');
    background-size: cover;
    background-position: 50% 90%;
    background-repeat: no-repeat;

}

#layer-3 {
    padding-top: 4vh;
    padding-bottom: 4vh;
}


#text-layer-3 {

    padding-top: 4vh;
    text-align: center;

    >h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: grey;
    }

    >p {
        font-size: 12px;
        color: grey;
    }

}

.layer-4 {
    margin-bottom: 5vh;
}

#layer-4 {

    
    padding-top: 12vh;
    padding-bottom: 12vh;

    .layer-4-text {
        text-align: center;
        >h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 25px;
            font-weight: bold;
            color: grey;
        }
    }

    .layer-4-modeller {

        padding-top: 4vh;

        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .layer-4-button {
        padding-top: 4vh;
        text-align: center;
    }

}

#btn {

    border: 0;
    height: auto;
    width: auto;
    padding: 12px 25px 12px 25px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 1px;
    background-color:#1a1b1f;
    letter-spacing: 2px;

}

//iphone 5-6-7 plus
@media (min-width: 410px) {

    .jumbotron {
    
        .container {
    
            padding-top: 62vh;
            padding-left: 29vw;
            
            >h1 {
                font-size: 4.8vw;
            }
    
            >p {
                font-size: 2.4vw;
            }
        
        }
    
    }

    #layer-1 {
        padding-top: 2vh;
        padding-bottom: 6vh;
    }
    
    #text-layer-1 {

        >h1 {
            font-size: 25px;
        }
    
        >p {
            font-size: 12px;
        }
    
    }
    
    #layer-3 {
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    
    
    #text-layer-3 {
    
        padding-top: 4vh;
    
        >h1 {
            font-size: 25px;
        }
    
        >p {
            font-size: 12px;
        }
    
    }

    .layer-4 {
        margin-bottom: 5vh;
    }
    
    #layer-4 {
    
        padding-top: 8vh;
        padding-bottom: 12vh;
    
        .layer-4-text {
            >h1 {
                font-size: 25px;
            }
        }
    
        .layer-4-modeller {
            padding-top: 4vh;
        }
    
        .layer-4-button {
            padding-top: 4vh;
        }
    
    }

    #layer-4-img {
        width: 300;
        height: 400;
    }

}

// ipad
@media (min-width: 768px) { 

    .jumbotron {
    
        .container {
    
            padding-top: 62vh;
            padding-left: 37vw;
            min-width: 90vw;
            
            >h1 {
                font-size: 4.2vw;
                margin-right: 0;
            }
    
            >p {
                font-size: 2vw;
            }
        
        }
    
    }

    #layer-1 {
        padding-top: 2vh;
        padding-bottom: 6vh;
    }
    
    #text-layer-1 {

        >h1 {
            font-size: 28px;
        }
    
        >p {
            font-size: 16px;
        }
    
    }
    
    #layer-2 {
    
        height: 45vh;
        min-width: 75%;
        max-width: 75%;
        display: none;
    
    }
    
    #layer-3 {
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    
    
    #text-layer-3 {
    
        padding-top: 4vh;
    
        >h1 {
            font-size: 28px;
        }
    
        >p {
            font-size: 16px;
        }
    
    }

    .layer-4 {
        margin-bottom: 4vh;
    }
    
    #layer-4 {
    
        padding-top: 8vh;
        padding-bottom: 12vh;
    
        .layer-4-text {

            >h1 {
                font-size: 25px;
            }
        }
    
        .layer-4-modeller {
            padding-top: 4vh;
        }
    
        .layer-4-button {
            padding-top: 4vh;
        }
    
    }

}

//ipad pro
@media (min-width: 992px) { 

    .jumbotron {
    
        .container {
    
            padding-top: 64vh;
            padding-left: 37vw;
            padding-right: 0 !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
            min-width: 90vw;
            
            >h1 {
                font-size: 4.2vw;
                color: white;
                margin-right: 0;
                text-shadow: 0 0 2px black,
            }
    
            >p {
                font-size: 2vw;
                color: white;
                text-shadow: 0 0 2px black,
            }
        
        }
    
    }

    #layer-1 {
        padding-top: 2vh;
        padding-bottom: 6vh;
    }
    
    #text-layer-1 {

        >h1 {
            font-size: 28px;
        }
    
        >p {
            font-size: 16px;
        }
    
    }
    
    #layer-2 {
    
        height: 45vh;
        min-width: 75%;
        max-width: 75%;
        display: none;
    
    }
    
    #layer-3 {
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    
    
    #text-layer-3 {
    
        padding-top: 4vh;
    
        >h1 {
            font-size: 28px;
        }
    
        >p {
            font-size: 16px;
        }
    
    }

    .layer-4 {
        margin-bottom: 4vh;
    }
    
    #layer-4 {
    
        padding-top: 8vh;
        padding-bottom: 12vh;
    
        .layer-4-text {

            >h1 {
                font-size: 25px;
            }
        }
    
        .layer-4-modeller {
            padding-top: 4vh;
        }
    
        .layer-4-button {
            padding-top: 4vh;
        }
    
    }

}

//ekranlar
@media (min-width: 1200px) {

    .jumbotron {
    
        .container {
    
            padding-top: 60vh;
            padding-left: 40vw;
            padding-right: 0 !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
            min-width: 90vw;
            
            >h1 {
                font-size: 2vw;
                color: white;
                margin-right: 0;
                text-shadow: 0 0 2px black,
            }
    
            >p {
                font-size: 1vw;
                color: white;
                text-shadow: 0 0 2px black,
            }
        
        }
    
    }

    #layer-1 {
        padding-top: 6vh;
        padding-bottom: 12vh;
    }
    
    #text-layer-1 {
    
        >h1 {
            font-size: 40px;
        }
    
        >p {
            font-size: 15px;
        }
    
    }
    
    #layer-2 { 
        display: block;
    }
    
    #layer-3 {
        padding-top: 12vh;
        padding-bottom: 12vh;
    }
    
    
    #text-layer-3 {
    
        >h1 {
            font-size: 40px;
        }
    
        >p {
            font-size: 15px;
        }
    
    }

    .layer-4 {
        margin-bottom: 4vh;
    }
    
    #layer-4 {
    
        padding-top: 8vh;
        padding-bottom: 12vh;
    
        .layer-4-text {

            >h1 {
                font-size: 25px;
            }
        }
    
        .layer-4-modeller {
            padding-top: 4vh;
        }
    
        .layer-4-button {
            padding-top: 4vh;
        }
    
    }

}