<!-- navbar -->
<app-nav-bar></app-nav-bar>

<section class="jumbotron jumbotron-fluid">

    <div [@scrollAnimation]="state" class="container">
      <h1 @delay_fade>Sürdürülebilir bir yaşam</h1>
      <p @delay_fade_slower >This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>

</section>

 

<div class="container col-xxl-10" id="layer-1">
  <div class="row flex-lg-row-reverse align-items-center justify-content-center ">

    <div data-aos="fade-down" data-aos-duration="1500" class="col-lg-6" id="text-layer-1">
      <h1>Better for people better for the planet.</h1>
      <p>At Bensonwood, we believe that meeting the needs of today’s generation should never
        come at the expense of tomorrow’s. That’s why we use only bio-based non-toxic 
        and low embodied energy materials in our construction process, and build every
         structure to stand for centuries to come. Our unique envelope building system
         delivers exceptional energy efficiency, and our fabrication process minimizes material waste.</p>
    </div>
    
    <div data-aos="fade" data-aos-duration="1500" class="col-10 col-sm-8 col-lg-6">
      <img src="/assets/img/pic1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>

  </div>
</div>

<div data-aos="fade" data-aos-duration="3000" class="container col-xxl-10" id="layer-2">
</div>

<div class="container col-xxl-10" id="layer-3">
  <div class="row flex-lg-row-reverse align-items-center justify-content-center ">

    <div data-aos="fade" data-aos-duration="1000" class="col-10 col-sm-8 col-lg-6">
      <img src="/assets/img/pic2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>

    <div data-aos="fade-down" data-aos-duration="1000" class="col-lg-6" id="text-layer-3">
      <h1>Find the right building solution for your needs.</h1>
      <p>Whether you want to build a custom prefab tiny house, an expansive zero-energy legacy home,
        or you need an experienced fabrication partner to offsite manufacture a commercial design, 
        Bensonwood has a building solution for your project.</p>
        <a routerLink="/modeller">
          <button class="btn-black" type="button" id="btn"> LEARN MORE </button>
        </a>
    </div>
    
  </div>
</div>

<div class="layer-4">

  <div data-aos="fade" data-aos-duration="1000" class="container col-xxl-9" id="layer-4">

    <div class="layer-4-text">
      <h1>MODELLERİMİZ</h1>
    </div>
  
    <div class="layer-4-modeller">
  
      <div class="row col-4">
        <img src="/assets/img/model-1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="200" loading="lazy" id="layer-4-img">
      </div>
      <div class="row col-4">
        <img src="/assets/img/model-2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="200" loading="lazy" id="layer-4-img">
      </div>
      <div class="row col-4">
        <img src="/assets/img/model-3.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="200" loading="lazy" id="layer-4-img">
      </div>
  
    </div>
  
    <div class="layer-4-button">
      <a routerLink="/modeller">
        <button class="btn-black" type="button" id="btn"> LEARN MORE </button>
      </a> 
    </div>
        
  </div>

</div>
